@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Search Form
</p>
<form action="/Home/Search" method="get">
    <input type="text" name="q" />
    <input type="submit" value="Search now!" />
</form>